body{
    margin: 5px 50px;
    text-align: center;
}

h1{
    width:75%;
    background-color: rgb(121, 200, 121);
    color: white;
    padding: 10px;
    margin: 0 auto;
}

#button, .button{
    background-color: rgb(199, 55, 55);
    color: white;
    padding: 1em;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
}

a{
    text-decoration: none;
    color: white;
    font-family: serif;
}

#msg{
    width: 90%;
    background-color: teal;
    padding: 2em;
    color: white;
    font-family: arial,verdana,Arial, Helvetica, sans-serif;
}

